<ul class="nav nav-tabs nav-justified border-top border-bottom-0 color" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active border-color-none border-0 h-100" id="top-game-tab" data-bs-toggle="tab" data-bs-target="#top-game" type="button" role="tab"
            aria-controls="home" aria-selected="true">Top Games</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link border-color-none border-0 h-100" id="new-game-tab" data-bs-toggle="tab" data-bs-target="#new-game" type="button" role="tab"
            aria-controls="profile" aria-selected="false">New Games</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link border-color-none border-0 h-100" id="slot-tab" data-bs-toggle="tab" data-bs-target="#slot" type="button" role="tab"
            aria-controls="contact" aria-selected="false">Slots</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link border-color-none border-0 h-100" id="live-tab" data-bs-toggle="tab" data-bs-target="#live" type="button" role="tab"
            aria-controls="contact" aria-selected="false">Live</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link border-color-none border-0 h-100" id="jackpot-tab" data-bs-toggle="tab" data-bs-target="#jackpot" type="button" role="tab"
            aria-controls="contact" aria-selected="false">Jackpots</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link border-color-none border-0 h-100" id="black-jack-tab" data-bs-toggle="tab" data-bs-target="#black-jack" type="button" role="tab"
            aria-controls="contact" aria-selected="false">Blackjack</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link border-color-none border-0 h-100" id="roulette-tab" data-bs-toggle="tab" data-bs-target="#roulette" type="button" role="tab"
            aria-controls="contact" aria-selected="false">Roulette</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link border-color-none border-0 h-100" id="table-tab" data-bs-toggle="tab" data-bs-target="#table" type="button" role="tab"
            aria-controls="contact" aria-selected="false">Table</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link border-color-none border-0 h-100" id="pocker-tab" data-bs-toggle="tab" data-bs-target="#pocker" type="button" role="tab"
            aria-controls="contact" aria-selected="false">Pocker</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link border-color-none border-0 h-100" id="other-tab" data-bs-toggle="tab" data-bs-target="#other" type="button" role="tab"
            aria-controls="contact" aria-selected="false">Others</button>
  </li>
</ul>
<div class="container">
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="top-game" role="tabpanel" aria-labelledby="home-tab">
      <div class="row mt-5">
        <div *ngFor="let item of topGames" class="col-12 col-md-4 col-lg-2 col-xl-2 mb-4 text-center">
          <img class="fix-image" src="{{item.image}}" alt="">
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="new-game" role="tabpanel" aria-labelledby="profile-tab">
      <div class="row mt-5">
        <div *ngFor="let item of newGames" class="col-12 col-md-4 col-lg-2 col-xl-2 mb-4 text-center">
          <img class="fix-image" src="{{item.image}}" alt="">
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="slot" role="tabpanel" aria-labelledby="contact-tab">
      <div class="row mt-5">
        <div *ngFor="let item of slots" class="col-12 col-md-4 col-lg-2 col-xl-2 mb-4 text-center">
          <img class="fix-image" src="{{item.image}}" alt="">
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="live" role="tabpanel" aria-labelledby="home-tab">
      live
    </div>
    <div class="tab-pane fade" id="jackpot" role="tabpanel" aria-labelledby="profile-tab">
      jackpot
    </div>
    <div class="tab-pane fade" id="black-jack" role="tabpanel" aria-labelledby="contact-tab">
      black-jack
    </div>
    <div class="tab-pane fade" id="roulette" role="tabpanel" aria-labelledby="home-tab">
      roulette
    </div>
    <div class="tab-pane fade" id="table" role="tabpanel" aria-labelledby="profile-tab">
      table
    </div>
    <div class="tab-pane fade" id="pocker" role="tabpanel" aria-labelledby="contact-tab">
      pocker
    </div>
    <div class="tab-pane fade" id="other" role="tabpanel" aria-labelledby="home-tab">
      other
    </div>
  </div>
</div>
